#[link(name = "amulet", vers = "0.0", author = "eevee")];
#[comment = "Rust ncurses and TUI library"];
#[crate_type = "lib"];

#[legacy_exports]
pub mod c;
// TODO unraw
// TODO unlegacy

pub mod termios;
pub mod ll;
